body {
    background-color: #FFF1F1;
    text-align: center;
    color: #FF6A73;    
    font-family: 'Quicksand', sans-serif;

}

.container {
    background-color: #FFE9F1;
    /*width: 90%;*/
    /*margin: auto;*/
    color: #F83687;
     font-size: 16px;
}

.size {
    background-color: #FFC2D8;
    font-size: 20px;
}

.class1 {
    color: #41C4F2;
}